
@media screen and (max-width:576px) {
    .nav-items{
    
        display: none;
    }

    .hamburger{
        display: block;
    }
    .header-container{
        flex-direction: column;
        width: 100%;
    }
    .header-content {
        width: 100%;
    }
    .header-content p{
        width: 70%;
     }
    .header-img{
        width: 100%;
     
    }
    .btn-container{
        display: flex;
    }
    .header-content button{
        width: 200px;
        padding: 15px 30px;
        
     }

     .blur-1{
        bottom: -118px;
        left: 9px;
     }

     .habir-cards-containes{
       flex-direction: column;
       align-items: center;
       gap: 40px;
    }
    .run-container{
        display: flex;
        flex-direction: column;
        gap: 50px;

        
         
     }

     .run-content{
        text-align: center;
        
       }

       .run-content button{
        width: 80%;
        
       }

       .bmi-container{
        flex-direction: column;
       
    }

    .bmi-chart{
        width: 80%;
    }
    .bmi-chart table{
        width: 110%;
        text-align: center;
        
    }
    .Calculator{
        width: 90%;
        margin-top: 50px;
    }
    .input-bmi {
        margin-top: 20px;
        display: flex;
        gap: 10px;
    }
    .select select{

        width: 106%;
    }    
}