
@media screen and (max-width:576px) {
    .nav-items{
    
        display: none;
    }

    .hamburger{
        display: block;
        color: white;
        font-size: 30px;
    }
    .header-container{
        flex-direction: column;
        width: 100%;
    }
    .header-content {
        width: 90%;
    }
    .header-content p{
        width: 70%;
     }
    .header-img{
        width: 100%;
     
    }
    .btn-container{
        display: flex;
    }
    .header-content button{
        width: 200px;
        padding: 15px 30px;
        
     }

     .blur-1{
        bottom: 214px;
        left: -40px;
        width: 171px;
        height: 70px;
     }
     .blur-2{
        width: 150px;
        height: 70px;
        bottom: 433px;
        left: 205px;
     }
     .change-title p{
        margin-top: 25px;
    }
     .habir-cards-containes{
       flex-direction: column;
       align-items: center;
       gap: 40px;
    }
    .run-container{
        display: flex;
        flex-direction: column;
        gap: 50px;

        
         
     }

     .run-content{
        text-align: center;
        
       }

       .run-content button{
        width: 80%;
        
       }

       .bmi-container{
        flex-direction: column;
       
    }
    .bmi-title{
        width: 90%;
        margin: 0 auto;
    }
    .bmi-chart{
        width: 80%;
    }
    .bmi-chart table{
        width: 110%;
        text-align: center;
        
    }
    .Calculator{
        width: 90%;
        margin-top: 50px;
    }

    .input-fild input{
        padding: 12px 0 12px 5px;
    }
    

    .trainer-title {
        width: 70%;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 44px;
    }
    .trainer-title p{
    
        margin-top: 25px;
    }
    .trainer-box{
     
        grid-template-columns: repeat(1,1fr);
    }

    .trainer-container {
        padding-bottom: 65px;
    }

    .child1 img{
        width: 100%;
        height: 100%;
    }
    footer{
    
        
        padding-top: 50px;
    }
    .footer-container{
  
        flex-direction: column;
        gap: 50px;
    }
    
    .right-content{
        width: 90%;
        
    }
    .left-content{
        width: 90%;
        flex-direction: column;
        gap: 30px;
    }
}