

*{
    margin: 0;
    padding: 0;
}
header{
    background: linear-gradient(180deg,#111111,#777777,#111111);
    width: 100%;
    
}

.navber{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.nav-title{
    font-size: 36px;
    font-weight: 800;
    color: orangered;
}
.nav-items{
    
    border: 1px solid #ffffff27;
    border-radius: 40px;
    padding: 1PX;
}
.nav-items button{
    color: white;
    width: 92px;
    height: 38px;
    border-radius: 40px;
    background: none;
    border: none;

}
#home{
    background-color: orangered;
}

.hamburger{
    color: white;
    display: none;
}

/* header-container style */

.header-container{
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid skyblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-content {
    width: 50%;
}
.header-content h1{
    font-size: 78px;
    font-weight: 900;
    color: white;
    margin-bottom: 30px;
}
.header-content p{
   font-size: 16px;
   color: rgba(255, 255, 255, 0.511);
}
.header-content button{
   width: 240px;
   padding: 16px 40px;
   border-radius: 40px;
   color: white;
   font-size: 18px;
   font-weight: 600;
   background: black;
   border: 1px solid white;
}
#btn1{
    background-color: orangered;
}

.btn-container{
    margin-top: 30px;
}

.header-img{
    width: 50%;
    text-align: end;
}
.header-img img{
    width: 349px;
    height: 580px;
    
}


.red{
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
    
}
.blur-1{
    color: white;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 200px;
    height: 90px;
    border-radius: 10px;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.234);
    backdrop-filter: blur(10px);
    position: absolute;
    bottom: 220px;
    right: 270px;

}
.blur-2{
    color: white;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 163px;
    height: 81px;
    border-radius: 10px;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.234);
    backdrop-filter: blur(10px);
    position: absolute;
    bottom: 406px;
    right: 70px;

}


/* main body style */
main{
    background-color: #111111;
}

/* change-habit section style */


.change-habit{
    color: white;
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
}
.change-title{
    
    text-align: center;

}
.change-title h1{
    font-size: 48px;
    font-weight: 900;

}
.change-title p{
    color: rgba(255, 255, 255, 0.511);
    font-size: 14px;
    font-weight: 400;
}

.habir-cards-containes{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}


.habit-card{
    width: 230px;
    text-align: center;
}
.habit-card img{
    width: 200px;
    border-radius: 50%;

}
.habit-card h2{
    margin-top: 15px;
    margin-bottom: 10px;
    
    font-weight: 600;
}
.habit-card p{
    color: rgba(255, 255, 255, 0.511);
}

/* run section style  */
.run{
    
    width: 90%;
    
    margin: 0 auto;
    background-color: #222222;
    border-radius: 18px;
}

.run-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px;
   margin-top: 100px;
   margin-bottom: 100px;
    
}

.run-content{
 width: 440PX;
 
}
.run-content h1{
    font-size: 48px;
    font-weight: 900;
    color: white;
 
}
.run-content p{
    margin-top: 20PX;
    color: rgba(255, 255, 255, 0.511);
    font-size: 18px;
    font-weight: 600;
 
}
.run-content button{
 margin-top: 50px;
 border-radius: 40px;
 border: none;
 color: white;
 background-color: orangered;
 height: 50px ;
 width: 220px;
 
}
.image{
    width: 366PX;
    text-align: end;
    
}
.image img{
    width: 100%;
   
    border-radius: 10px;
}

/* bmi-calculate section styles */

.bmi-title{
    text-align: center;
}
.bmi-title h1{
    color: white;
    font-weight: 900;
    font-size: 50px;

}
.bmi-title p{
    margin-top: 20PX;
    margin-bottom: 80px;
    color: rgba(255, 255, 255, 0.511);
    font-size: 15px;
    font-weight: 600;
}
.bmi-calculate{

    
    background-color: #222222;
}

.bmi-container{
    width: 90%;
    margin: 0 auto;
   
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
   
}
.bmi-chart{
    align-items: center;
}
.bmi-chart h1{
    font-size: 30px;
    font-weight: 900;
    color: white;
    margin-bottom: 50px;
}
.bmi-chart table{
    border-collapse: collapse;
    
}
.bmi-chart td{
    border: 1px solid white;
    padding: 20px 30px;
    color: rgba(255, 255, 255, 0.511);
    font-size: 15px;
    

}
.bmi-chart th{
    border: 1px solid white;
    padding: 20px 30px;
    color: white;
    font-size: 15px;
}

.Calculator{
    width: 50%;
}
.Calculator h1{
    font-size: 30px;
    font-weight: 900;
    color: white;
}
.Calculator p{
    margin-top: 15px;
    margin-bottom: 35px;
    color: rgba(255, 255, 255, 0.511);
    font-size: 15px;
}

.input-bmi {
    margin-top: 20px;
}
.input-bmi input{
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    width: 250px;
    padding: 15px 40px;
}
/* .select input{
    margin-top: 20px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    width: 85%;
    padding: 15px 40px;
} */
.select select{
    margin-top: 20px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    width: 97%;
    padding: 15px 40px;
    color: rgba(255, 255, 255, 0.511);
    
}
.Calculator button{
 margin-top: 50px;
 border-radius: 40px;
 border: none;
 color: white;
 background-color: orangered;
 height: 50px ;
 width: 220px;
}


/* trainer-container styles */
.trainer-container{
    padding-bottom: 100px;
}

.trainer-title{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
}
.trainer-title h1{
    font-size: 50px;
    font-weight: 900;
    color: white;
}
.trainer-title p{
    
    color: rgba(255, 255, 255, 0.511);
}

.trainer-box{
    
    
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    background-color: #777777;
    border-radius: 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
   
    
}

.parent{
    position: relative;
    
    
}
.child1 img{
    width: 380px;
    height: 280px;
    border-radius: 18px;
    margin: 0;
    padding: 0;
}
.child2{
    color: white;
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.child2 p{
    color: rgba(255, 255, 255, 0.511);
}

/* footer  styles */

footer{
    
    background: #222222;
    padding-top: 100px;
}
.footer-container{
  
    margin-top: 200px;
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    gap: 300px;
}

.right-content{
    width: 40%;
    
}

.right-content h1{
    font-size: 70px;
    font-weight: 800;
    color: orangered;
}
.right-content p{
    color: rgba(255, 255, 255, 0.511);
    margin-top: 30px;
}
.left-content{
    width: 50%;
    display: flex;
    justify-content: space-between;
    
}
.left-content h2{
    
    color: white;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}
.left-content p{
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.511);
    font-size: 23px;
    
}

hr{
    width: 90%;
    
    margin: 0 auto;
}

#end{
    color: rgba(255, 255, 255, 0.511);
    text-align: center;
    margin-top: 50px;
   padding-bottom: 50px;
}
